.big-container {
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}
.movie-app-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: white;
  font-family: arial, sans-serif;
  line-height: 1.8em;
  max-width: 60vw;
  position: absolute;
}

.top-container {
  display: flex;
  justify-content: space-between;
  background-color: transparent;
  color: white;
  margin-bottom: 20px;
}
.selectoption {
  width: 400px;
}
.movie-container {
  display: flex;
  background-color: rgb(5, 2, 14, 0.9);
}

.context {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.title {
  text-transform: uppercase;
  font-size: 2.5em;
  color: white;
  line-height: 1em;
}

.tag-line {
  font-size: 1.3em;
  color: #00fc87;
}

.movie-detail {
  color: rgb(236, 230, 230);
}

.genres,
.date,
.mins,
.revenue,
.rate {
  color: #00fc87;
  font-size: 1.4em;
}

.small-detail {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.small-detail-container {
  display: flex;
}

.css-13cymwt-control {
    background-color: transparent !important;
    border: none !important;
    border-bottom: 1px solid white !important;
    border-radius: 0 !important;
}
.css-1hb7zxy-IndicatorsContainer {
    display: none;
}