.status-wrapper {
  display: flex;
  align-items: baseline;
}
.status-circle {
  width: 8px;
  height: 8px;
  border-radius: 50%;
}
.active {
  background-color: green;
}
.offline {
  background-color: #999;
}
.away {
  background-color: orange;
}
.busy {
  background-color: red;
}
